mat-card {
    margin-top: 20px;
    width: 50dvw;
    padding: 12px;
}

mat-card-header {
    width: 100%;
    justify-content: center;
}

mat-form-field {
    width: 45dvw;
}

mat-card-actions {
    display: flex;
    justify-content: end;
    margin: 0 10px;
}

button {
    background-color: #19bd34;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4ff01e;
  }
  
  /* Optional: Styles for form titles and subtitles */
  mat-card-title,
  mat-card-subtitle {
    font-size: 1.2em;
    margin-bottom: 10px;
  }